mariadb
SQLAlchemy
rich
python-dotenv
nicegui
requests
fastapi-sessions
passlib
pydantic_settings
google-generativeai
pillow
openai
httpx
moviepy
Flask
waitress
strip_markdown
elevenlabs
pydub
ffmpeg
moviepy
Flask
waitress